#!/bin/bash
DOCKERCMD=$(command -v docker)
SCR_DIR=$(cd `dirname $0` && pwd)
CRON_PATH=${SCR_DIR}/_cron
TMP_PATH=${SCR_DIR}/_tmp
LOG_PATH=${SCR_DIR}/_log

mkdir -p ${CRON_PATH}
mkdir -p ${TMP_PATH}
mkdir -p ${LOG_PATH}

markfile=${SCR_DIR}/mark.data

# --- clean longer time task -----
for file in $(find $markfile -not -newermt '-120 seconds' 2>&1) ;do
  if [ -f "${markfile}" ]; then
    vfn=$(<${markfile})
    cmda="rm -fr ${vfn} && pkill -f ${vfn} > /dev/null && rm -fr ${markfile} >/dev/null 2>&1"
    eval "$cmda"
  fi
done

for f in "${CRON_PATH}"/*; do

  if [ -f "${markfile}" ]; then
    break;
  fi

  if [ -f "${f}" ]; then

    execfn=${TMP_PATH}/SH_$(basename ${f})
    echo ${execfn} > $markfile
    echo "-- Ran ${f} -- at $(date +"%m/%d %H:%M:%S")" >> ${LOG_PATH}/commCronLog.data || true
    cp ${f} ${LOG_PATH} || true
    mv -f ${f} $execfn || true
    echo "  -->  $(basename ${f})" || true
    sh ${execfn} ${DOCKERCMD} | sed 's/^/ >>  /' >> ${LOG_PATH}/commCronLog.data || true
    rm -fr ${execfn} || true
    rm -fr ${markfile} || true
    echo "-- done $(basename ${f}) -- at $(date +"%m/%d %H:%M:%S")\n\n" >> ${LOG_PATH}/commCronLog.data || true
  else
    exit 1
  fi
done
