#!/bin/bash

GRID_SERVER="grid.shusiou.win"
SCR_DIR=$(cd `dirname $0` && pwd)

IP=$(cat ${SCR_DIR}/data/_ip)

if [ -n $IP ]; then
    curl https://ipinfo.io/ip > ${SCR_DIR}/data/_ip
    IP=$(cat ${SCR_DIR}/data/_ip)
fi

sed '/\echo _EASY_SYNC/d' /etc/crontab  > /tmp/crontab_easy_sync
cp -f /tmp/crontab_easy_sync /etc/crontab
curl ${GRID_SERVER}:10000/_grid/updateStatus/?ip=${IP}