#!/bin/bash
DOCKERCMD=$(command -v docker)
SCR_DIR=$(cd `dirname $0` && pwd)

CRON_PATH=${SCR_DIR}/data/commCron
TMP_PATH=${SCR_DIR}/data/tmp
LOG_PATH=${SCR_DIR}/data/log

SITES_PATH=${SCR_DIR}/data/sites

mkdir -p ${CRON_PATH}
mkdir -p ${TMP_PATH}
mkdir -p ${LOG_PATH}

markfile=${SCR_DIR}/data/mark.data

# --- clean longer time task -----
for file in $(find $markfile -not -newermt '-300 seconds' 2>&1) ;do
  if [ -f "${markfile}" ]; then
    vfn=$(cat ${markfile})
    cmda="rm -fr ${vfn} && pkill -f ${vfn} > /dev/null && rm -fr ${markfile} >/dev/null 2>&1"
    eval "$cmda"
  fi
done

for f in "${CRON_PATH}"/*; do

  if [ -f "${markfile}" ]; then
    break;
  fi

  if [ -f "${f}" ]; then
      execfn=${TMP_PATH}/SH_$(basename ${f})
      echo ${execfn} > $markfile
      echo "-- Ran $(basename ${f}) -- at $(date +"%m/%d %H:%M:%S")" >> ${LOG_PATH}/commCronLog.data || true
      cp ${f} ${LOG_PATH}/$(date +"%m%d%H%M%S")_$(basename ${f}) || true
      mv -f ${f} $execfn || true
      echo "  -->  $(basename ${f})" || true
      rm -fr ${markfile} && sh ${execfn} ${DOCKERCMD} | sed 's/^/ >>  /' >> ${LOG_PATH}/commCronLog.data || true
      rm -fr ${execfn} || true
      echo "-- done $(basename ${f}) -- at $(date +"%m/%d %H:%M:%S")\n\n" >> ${LOG_PATH}/commCronLog.data || true
  fi
done