#!/bin/bash
SCR_DIR=$(cd `dirname $0` && pwd)

if [ ! -f "${SCR_DIR}/easydocker_KEY/_gridToken" ]; then
    # bash generate random 32 character alphanumeric string (upper and lowercase) and 
    echo $(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1) > ${SCR_DIR}/easydocker_KEY/_gridToken
fi
TOKEN=$(cat ${SCR_DIR}/easydocker_KEY/_gridToken)

IP=$(cat ${SCR_DIR}/data/_ip)
if ! expr "$IP" : '[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*$' >/dev/null; then
  curl ifconfig.me > ${SCR_DIR}/data/_ip
  IP=$(cat ${SCR_DIR}/data/_ip)
fi

if ! expr "$IP" : '[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*$' >/dev/null; then
  curl ipinfo.io/ip > ${SCR_DIR}/data/_ip
  IP=$(cat ${SCR_DIR}/data/_ip)
fi

if [ ! -f "${SCR_DIR}/data/_GRID_SERVER" ]; then
   echo $IP > ${SCR_DIR}/data/_GRID_SERVER
fi

GRID_SERVER=$(cat ${SCR_DIR}/data/_GRID_SERVER)

curl -d "cmd=statusUpdate&ip=${IP}&server=${GRID_SERVER}&gridToken=${TOKEN}&data={$(cat /proc/meminfo | tr '\n' '|')}"  -X POST ${GRID_SERVER}:10000/_grid/
